* {
    margin: 0;
    padding: 0;
}

body {
    background: gray;
    font-family: "Mona Sans", sans-serif;
    display: flex;
    flex-direction: column;
}

.topnav {
    overflow: hidden;
    background: black;
    font-size: 20px;
    padding: 0 20px 0 0;
    display: block;
    position: sticky;
    top: 0;

}

.tag-index {
    float: left;
    text-decoration: none;
    padding: 20px;
    color: #fff;
}

.tag-index:hover {
    background: #fff;
    color: #000;
}

.topnav a.active {
    background: #fff;
    color: #000;
}

.topnav .split {
    float: right;
    text-decoration: none;
    padding: 13px 10px;
    margin: 10px 5px 0 5px;
    color: #fff;
    font-size: 15px;
    border-radius: 55%;
}

.topnav .split:hover {
    background: #fff;
    color: #000;
}

.icon{
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: gray;
    margin-top: 10px;
}

.topnav-right {
    margin-right: 15px;
}

.tag-img {
    background: #fff;
    width: 400px;
    height: 320px;
    margin: 15px;
}

.footer {
    background: brown;
    text-align: center;
}
