* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    font-family: "Mona Sans", sans-serif;
    display: flex;
    flex-direction: column;
}

.topnav {
    overflow: hidden;
    background: orange;
    font-size: 20px;
    padding: 0 20px 0 0;
    display: block;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.tag-index {
    float: left;
    text-decoration: none;
    padding: 20px;
    color: #fff;
}

.tag-index:hover {
    background: #fff;
    color: #000;
}

.topnav a.active {
    background: #fff;
    color: #000;
}

.topnav .split {
    text-decoration: none;
    padding: 20px 10px;
    color: #fff;
    font-size: 20px;
    font-style: italic;
    /* border: 1px solid #fff; */
}

.topnav .split:hover {
    color: blue;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(img/icon_page.png);
    background-color: #d8dbbd;
    /* border: 1px solid red; */
    margin: 10px 0 0 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.topnav-right {
    float: right;
    display: flex;
    flex-direction: row;
    /* border: 1px solid #fff; */
}

.tag-img {
    background: #fff;
    width: 400px;
    height: 320px;
    margin: 15px;
}

.footer {
    background: orangered;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    color: #fff;
}

.footer-address {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer-address p {
    text-align: left;
    margin: 10px;
    cursor: pointer;
}

.footer-address p:hover {
    color: black;
}

.footer-about {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #fff; */
    flex: 1;
}

.footer-about a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

.footer-about a:hover {
    color: black;
}

.footer-icon {
    display: flex;
    flex-direction: row;
    /* border: 1px solid #fff; */
    justify-content: space-evenly;
    /* width: 250px; */
    font-size: 30px;
    align-items: center;
    flex: 1;
}

.footer-icon i {
    cursor: pointer;
}

.footer-icon i:hover {
    color: black;
}

.copyright {
    background: #d8dbbd;
    text-align: center;
    padding: 10px;
}

.header_content {
    background: url(img/cat1.jpeg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
}

.header_content div {
    flex: 1;
}

.header_title {
    /* border: 1px solid #fff; */
    padding: 20px;
}

.header_title h1 {
    color: #fff;
    font-size: 70px;
    padding: 20px 10px 0 10px;
    background: linear-gradient(to right, #feee91, #fff6e3);
    background-clip: text;
    color: transparent;
    backdrop-filter: blur(5px);
    /* border: 1px solid #fff; */
    border-radius: 20px;
    position: absolute;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 0 30px;
    text-align: center;
    font-family: arial;
}

.price {
    color: white;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.item-thuc-an-meo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

legend {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: orange;
}

fieldset {
    padding: 20px;
    width: 85%;
    justify-self: center;
    margin: 15px;
    border-color: orange;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #d8dbbd;
}
